<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <a href="http://">
                <img
                    src="https://sm.ign.com/ign_br/game/t/the-legend/the-legend-of-zelda-tears-of-the-kingdom_fkwn.jpg">
            </a>
        </div>

        <div class="small-card__title">
            <h1><a href="http://">Saiu a nova versão do Angular!</a></h1>
        </div>
    </div>
    <div><hr></div>
    
</div>
